.container{
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.subject{
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 5px;
}

.date{
    color: #666;
    font-size: 17px;
    margin-bottom: 5px;
}


.new{
    font-size: 18px;
    font-weight: 400;
    color: rgb(55, 102, 163);
}

.working{
    font-size: 18px;
    color: peru;
    font-weight: 400;
}

.escalated{
    font-size: 18px;
    color: rgb(0, 152, 179);
    font-weight: 400;
}

.closed{
    font-size: 18px;
    color: rgb(0, 168, 50);
    font-weight: 400;
}