.container{
    margin-left: 10%;
    width: 80%;

    margin-bottom: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #888;
    padding: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    position: relative;
}

.subject{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 5px;
}

.date{
    color: #666;
    font-size: 17px;
    margin-bottom: 5px;
}


.new{
    font-size: 18px;
    font-weight: 400;
    color: rgb(55, 102, 163);
}

.working{
    font-size: 18px;
    color: peru;
    font-weight: 400;
}

.escalated{
    font-size: 18px;
    color: rgb(0, 152, 179);
    font-weight: 400;
}

.closed{
    font-size: 18px;
    color: rgb(0, 168, 50);
    font-weight: 400;
}

.description{
    width: 100%;
    border-top: 1px solid #888;
    padding: 10px;
    color: #444;
    font-size: 19px;
    margin-bottom: 5px;
}