.container{
    height: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #888;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.container:hover{
    cursor: pointer;
    background-color: rgb(233, 244, 255);
}

.subject{
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 5px;
}

.date{
    color: #777;
    font-size: 15px;
    margin-bottom: 5px;
}

.desc{
    color: #555;
    font-size: 17px;
    margin-bottom: 5px;
}

.status{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}

.new{
    
    color: rgb(55, 102, 163);
}

.working{
    color: rgb(212, 118, 23);
}

.escalated{
    color: rgb(0, 152, 179);
    font-weight: 400;
}

.closed{
    color: rgb(0, 168, 50);
}