.container{
    background-color: white;
    border-radius: 5px;
    flex:8;
    margin-top: 20px;
}

.filter-container{
    flex:2;
    margin-top: 20px;

}

.results-header{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

.results-list{
    margin-left: 1%;
    margin-bottom: 10px;
    display: inline-block;
    width: 32%;
}