.add-btn{
    display: inline-block;
    margin-bottom: 15px;
 }

 .btn-row{
    display: flex;
    flex-direction: row;
    position: relative;
    height:43px;
 }

 .price-btn{
    display: inline-block;
    margin-left: 5px;

 }

 .save-btn{
    margin-bottom: 15px;
    display: inline-block;
 }
 .btn-container{
    position: absolute;
    right: 15px;
 }


 .table{
    margin-top: 10px;
 }

 .input{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
 }